body { background: #e9f473; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 32px; display: flex; }
.block-uploader-0 { color: #355a64; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #ebc0a3; font-size: 16px; margin-bottom: 5px; }
.block-notify-2 { color: #64fc35; font-size: 18px; margin-bottom: 5px; }
.block-logger-3 { color: #afe868; font-size: 16px; margin-bottom: 5px; }
.block-database-4 { color: #1fff2d; font-size: 12px; margin-bottom: 5px; }